@import "tailwindcss";

@theme {
  --color-background: #0E0E12;
  --color-foreground: #FFFFFF;
  --color-navbar-background: #18181C;
  --color-primary-card-background: #2A2D3A;
  --color-secondary-card-background: #00CFFF;
  --color-tertiary-card-background: #768BDE;
  --color-highlight: #00C2FF;
  --color-muted: #9CA3AF;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility card-gradient {
  content: "";
  inset: 0;
  background: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.3), 
    rgba(255, 255, 255, 0) 70%
  );
  position: absolute;
  pointer-events: none;
}

@utility button-gradient {
  content: "";
  inset: 0;
  background: linear-gradient(to top, rgba(0, 8, 85, 0.3), transparent);
  position: absolute;
  pointer-events: none;
  border-radius: inherit;
  z-index: -1;
}