@import "tailwindcss";

@theme {
  --breakpoint-xs: 26.563rem; /* 425px */

  --color-background: #0E0E12;
  --color-foreground: #FFFFFF;
  --color-navbar-background: #18181C;
  --color-primary-card-background: #2A2D3A;
  --color-secondary-card-background: #00CFFF;
  --color-tertiary-card-background: #768BDE;
  --color-highlight: #00C2FF;
  --color-muted: #9CA3AF;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility card-gradient {
  content: "";
  inset: 0;
  background: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.3), 
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 1rem;
  position: absolute;
  pointer-events: none;
}

@utility button-gradient {
  content: "";
  inset: 0;
  background: linear-gradient(to top, rgba(0, 8, 85, 0.3), transparent);
  position: absolute;
  pointer-events: none;
  border-radius: inherit;
  z-index: -1;
}

@layer components {
  .nav-content {
    @apply bg-navbar-background py-2.5 px-8 rounded-4xl border-2 border-[#282A2B];
  }

  .hamburger-stripe {
    @apply w-6 h-0.5 bg-white rounded transition-all duration-300 ease-in-out;
  }

  .card {
    @apply py-3 px-4.5 rounded-2xl relative shadow-[inset_0_0_2px_0.3px_rgb(255,255,255)] 
    flex flex-col justify-between;
  }
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0.7) 30%,
    var(--color-foreground) 50%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(255, 255, 255, 0.3) 80%,
    transparent 100%
  );
}